<div class="cart-form lh-d-flex lh-flex-wrap ">
    @if(section.settings.enable_external == 'no' || section.settings.external_link == '')
        <button type="submit" class="lh-add_to_cart lh-bt lh-bt-primary" data-add-cart="@attr(lang(section.settings.trans_add_to_cart))" data-pre-order="@attr(lang(section.settings.trans_pre_order))">
            @liquid('lang_addcart')
        </button>
    @else
        <a href="@liquid('external_link')" class="lh-external lh-bt lh-bt-primary lh-col">
            @lang(section.settings.trans_external)
        </a>
    @endif
</div>
<div class="clearfix"></div>
@if(section.settings.enable_buynow === 'yes')
<div class="lh-d-flex lh-flex-wrap lh-wrap-buynow">
        <button class="lh-buy-now bt lh-bt-primary lh-bt-type_01 lh-col">
            @lang(section.settings.trans_buynow)
        </button>
</div>
@endif
<div class="lh-block-custom lh-custom-html">@lang(section.settings.c_html_addcart)</div>
<div class="clearfix"></div>
</div>
