<div class="lh-call">
    <div class="lh-container"> 
              <div class="lh-content">
              <h1 class="lh-title">@lang(section.settings.txt_title)</h1>
  
              <div class="lh-cus lh-en">
                <p class="lh-btn">@lang(section.settings.btn_link)</p>
            </div>
            
             <div class="lh-cus lh-fr">
                <p class="lh-btn"><a href="/fr/collections/diver-200-automatic" id="languageBtn" class="lh-btn">@lang(section.settings.btn_link)</a></p>
            </div>
        
        
              <!--<div class="lh-cus">-->
              <!--  <a href="#" id="languageBtn" class="lh-btn">@lang(section.settings.btn_link)</a>-->
              <!--</div>-->
          
                  
              <div class="lh-desc">@lang(section.settings.txt_desc)</div>
    </div>
  </div>
  </div>
  
  <script>
      document.addEventListener("DOMContentLoaded", function() {
          var enLanguageWrapper = document.getElementById("enLanguageWrapper");
          var frLanguageWrapper = document.getElementById("frLanguageWrapper");
  
        
          var url = window.location.href.toLowerCase();
          var isFrench = url.includes("/fr/");
  
         
          if (isFrench) {
              frLanguageWrapper.style.display = "block";
              enLanguageWrapper.style.display = "none";
          } else {
              frLanguageWrapper.style.display = "none";
              enLanguageWrapper.style.display = "block";
          }
      });
  </script>
  
  